<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="">

    <title>Hotel Visualization - Selection</title>

    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'viz/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'viz/css/bootstrap-theme.css' %}" rel="stylesheet">
    <!-- font icon -->
    <link href="{% static 'viz/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="{% static 'viz/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <!--logo start-->
        <a href="{% url 'viz:index' %}" class="logo">Hotel <span class="lite">Visualization</span></a>
        <!--logo end-->
    </header>
    <!--header end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <!--Insert Content here-->
                <div class="col-lg-12">
                    <h2 align="center">How would you like to view the data?</h2>

                    <p><strong>The dataset consists of data obtained from an online travel agent. The data consists of
                        search
                        results between 2012 and 2013, there are ten million rows and 54 different columns. <br><br><br></strong>
                    </p>
                    <table style="width:100%">
                        <tr>
                            <td align="center" style="width: 40%" height="40%">
                                <a href="{% url 'viz:set' %}"> <img border="0" width="80%"
                                                                    alt="Explore"
                                                                    src="{% static 'viz/images/set.png' %}"/>
                                    <br> Go with the flow... </a>

                            </td>
                            <td align="center" style="width: 40%" height="40%">
                                <a href="{% url 'viz:explore' %}"> <img border="0" alt="Motion Graph" width="80%"
                                                                        src="{% static 'viz/images/explore.png' %}">
                                    <br>My
                                    Way or the High way...</a>


                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="width: 40%">
                                <p><strong>This is the advanced search functionality provided by the website. It allows
                                    users to
                                    answer
                                    their own questions pertaining to the data set.</strong></p>
                            </td>
                            <td align="center" style="width: 40%">
                                <p><strong>This consists of graphs that the site designers and data analysts have deemed
                                    useful
                                    for viewing the data.</strong></p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <!--Footer-->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Hotel Visualization 2015</p>
                    </div>
                </div>
            </footer>

        </section>


    </section>
    <!--main content end-->
</section>

<!-- javascripts -->
<script src="{% static 'viz/js/jquery.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'viz/js/bootstrap.min.js' %}"></script>

<!-- nice scroll -->
<script src="{% static 'viz/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'viz/js/jquery.nicescroll.js' %}" type="text/javascript"></script>

<!--custom script for all page-->
<script src="{% static 'viz/js/scripts.js' %}"></script>

</body>
</html>
