<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="">

    <title>Hotel Visualization - Matrix</title>

    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'viz/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'viz/css/bootstrap-theme.css' %}" rel="stylesheet">
    <!-- font icon -->
    <link href="{% static 'viz/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="{% static 'viz/css/style.css' %}" rel="stylesheet">
    <!-- Used for Matrix graph -->
    <link href="{% static 'viz/css/matrix.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <!--logo start-->
        <a href="{% url 'viz:index' %}" class="logo">Hotel <span class="lite">Visualization</span></a>
        <!--logo end-->
    </header>
    <!--header end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <h2>Visitor country vs Destination<br></h2>
                <!--Insert Content here--> <h5>This matrix diagram visualizes the connections between the country that
                the user has
                searched from verses the country they wish to visit. The colour of the blocks represent the continent
                the
                country is in and a darker colour indicates that a search combination occurred more frequently. The
                country data in the dataset has been anonymised, which results in the country names being represented
                as identifiers rather than actual country names.</h5>

                <div class="col-lg-12">
                    <p>Order: <select id="order">
                        <option value="name">by Name</option>
                        <option value="count">by Frequency</option>
                        <option value="group">by Continent</option>
                    </select>

                    <div id="matrix"></div>
                </div>

                <!--Get file url to be used by the graph-->
                <input type="hidden" id="file_string" value="{{ file }}">
                <!-- Javascript accessing of the string
                    var file_string = document.getElementById("file_string").value;
                    -->
            </div>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Hotel Visualization 2015</p>
                    </div>
                </div>
            </footer>

        </section>


    </section>
    <!--main content end-->
</section>
<!-- container section start -->

<!-- javascripts -->
<script src="{% static 'viz/js/jquery.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'viz/js/bootstrap.min.js' %}"></script>

{#<!-- nice scroll -->#}
{#<script src="{% static 'viz/js/jquery.scrollTo.min.js' %}"></script>#}
{#<script src="{% static 'viz/js/jquery.nicescroll.js' %}" type="text/javascript"></script>#}

<!--custom script for all page-->
<script src="{% static 'viz/js/scripts.js' %}"></script>

<!-- Used by Matrix graph -->
<script src="{% static 'viz/js/d3.v3.min.js' %}"></script>
<script src="{% static 'viz/js/matrix.js' %}"></script>

</body>
</html>
