<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="">

    <title>Hotel Visualization - Pre-determined Graph Selection</title>

    {% load staticfiles %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'viz/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'viz/css/bootstrap-theme.css' %}" rel="stylesheet">
    <!-- font icon -->
    <link href="{% static 'viz/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- Custom styles -->
    <link href="{% static 'viz/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">


    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <!--logo start-->
        <a href="{% url 'viz:index' %}" class="logo">Hotel <span class="lite">Visualization</span></a>
        <!--logo end-->
    </header>
    <!--header end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Select a graph that you would like to view... <br><br></h2>
                    <table style="width:100%">
                        <tr>
                            <td align="center" style="width:33%;height: 50%">
                                <a href="{% url 'viz:week_selection' %}?type=matrix"> <img border="0" alt="Matrix Graph"
                                                                                           style="padding: 5%"
                                                                                           width="100%"
                                                                                           src="{% static 'viz/images/matrix 2.png' %}">
                                    <br> Co-occurrence Matrix </a>


                            </td>
                            <td align="center" style="width:33%;height: 50%">
                                <a href="{% url 'viz:week_selection' %}?type=force"> <img border="0" alt="Force Graph"
                                                                                          width="100%"
                                                                                          style="padding: 5%"
                                                                                          src="{% static 'viz/images/force.png' %}">
                                    <br>Force Directed Graph</a>


                            </td>
                            <td align="center" style="width:33%;height: 50%">
                                <a href="{% url 'viz:expenditure' %}"> <img border="0" alt="Force Graph" width="100%"
                                                                            style="padding: 5%"
                                                                            src="{% static 'viz/images/budget_full.png' %}">
                                    <br> Expenditure Diagram </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="width:33%">
                                <p><strong>This graph shows the country that the user has searched from verses
                                    the
                                    country that they wish to visit. This is useful in order to make
                                    observations regarding the popularity of the countries in the dataset.</strong></p>
                            </td>
                            <td align="center" style="width:33%">
                                <p><strong>This graph shows the connections between the country that the user has
                                    searched from verses the country they wish to visit. This is similar to the
                                    co-occurence matrix except it allows a user to better visualise the amount of times
                                    a particular search combination has occurred</strong></p>
                            </td>
                            <td align="center" style="width:33%">
                                <p><strong>A visual analytics tool to assist in understanding money spent on hotel
                                    bookings in countries around the world</strong></p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Hotel Visualization 2015</p>
                    </div>
                </div>
            </footer>

        </section>


    </section>
    <!--main content end-->
</section>
<!-- container section start -->

<!-- javascripts -->
<script src="{% static 'viz/js/jquery.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'viz/js/bootstrap.min.js' %}"></script>

<!-- nice scroll -->
<script src="{% static 'viz/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'viz/js/jquery.nicescroll.js' %}" type="text/javascript"></script>

<!--custom script for all page-->
<script src="{% static 'viz/js/scripts.js' %}"></script>

</body>
</html>
