#hotel {
    color: red;
}

#visitor {
    color: green;
}

#search {
    color: blue;
}

#booking {
    color: darkmagenta;
}

#num {
    color: orangered;
}

#bool {
    color: indigo;
}

td {
    color: orangered;
}

h1 {
    color: black;
}